@import '../../scss/imports';

.card1 {
  padding: 1rem;
  height: 10rem;
  margin-top: 1rem;
  // background-color: $white;
  background-color: $bg;
  width: 100%;
  border-radius: 1rem 0 0 1rem;
}

.card2 {
  padding: 1rem;
  margin-top: 1rem;
  background-color: $primary;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
  height: 10rem;
}

.extension_card {
  right: -1.5rem;
  top: 0;
  background-color: $bg;
  padding: 1rem;
  height: 100%;
}

.about_dis {
  
}